@model IEnumerable<Metomarket.Web.Infrastructure.ComponentViewModels.CreditCompanies.CreditCompanyOptionViewModel>

@foreach (var creditCompany in Model)
{
    <option value="@creditCompany.Id">@creditCompany.Name</option>
}