@model Metomarket.Web.ViewModels.Products.ProductEditModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<section class="mt-4">
    <form asp-action="Edit" class="form mx-auto mw-30r">
        <div class="form-group">
            <label asp-for="Name"></label>
            <label class="input-wrapper">
                <input asp-for="Name" />
            </label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TypeName"></label>
            <label class="input-wrapper">
                <input asp-for="TypeName" disabled />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <label class="input-wrapper">
                <input asp-for="Price" />
            </label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <label class="input-wrapper">
                <input asp-for="ImageUrl" placeholder="Image URL . . ." />
            </label>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="InStock"></label>
            <label class="input-wrapper">
                <input asp-for="InStock" disabled />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="QuantityToAdd"></label>
            <label class="input-wrapper">
                <input asp-for="QuantityToAdd" min="0" placeholder="Quantity to add . . ." />
            </label>
            <span asp-validation-for="QuantityToAdd" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id" />

        <div class="text-center">
            <input type="submit" value="Edit" />
        </div>
    </form>
</section>