.admin-users-index {
    @include mq-max-w ($breakpoint-md - 1px) {
        table > thead {
            display: none;
        }

        table td {
            display: block;
            width: 100%;

            &::before {
                padding-right: 1em;
                font-weight: bold;
            }

            &:nth-child(3n - 2)::before {
                content: "Username:";
            }

            &:nth-child(3n - 1)::before {
                content: "Email:";
            }

            &:nth-child(3n)::before {
                content: "Action:";
            }
        }
    }
}