@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h4 class="text-center">Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form method="post" class="form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <label class="input-wrapper with-icon">
                    <input asp-for="Input.Email" />
                    <i class="far fa-envelope"></i>
                </label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>