@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h3 class="text-center">You can log in with a local account or use another service.</h3>

<h4 class="text-center mt-4">Use a local account to log in.</h4>
<hr />

<section class="mt-4">
    <form id="account" method="post" class="form mw-30r mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.Email" placeholder="Email" />
                <i class="far fa-envelope"></i>
            </label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <i class="fas fa-lock pb-2"></i>
            </label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>

        <div class="form-group text-center">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</section>

<h4 class="text-center mt-4">Use another service to log in.</h4>
<hr />

<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
    <div>
        <p>
            <button type="submit" class="btn btn-primary" name="provider" value="Facebook" title="Log in using your Facebook account">
                <i class="fab fa-facebook"></i>Log in with Facebook
            </button>
        </p>
    </div>
</form>