@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<p>
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>

<section class="mw-20r mx-auto">
    <form method="post" class="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.RecoveryCode"></label>
            <label class="input-wrapper">
                <input asp-for="Input.RecoveryCode" autocomplete="off" />
            </label>
            <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</section>