@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
            <h4>Create a new account.</h4>
            @*<hr />*@
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <label class="input-wrapper with-icon">
                    <input asp-for="Input.Email" placeholder="Email" />
                    <i class="far fa-envelope"></i>
                </label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <label class="input-wrapper with-icon">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <i class="fas fa-lock pb-2"></i>
                </label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <label class="input-wrapper with-icon">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    <i class="fas fa-lock pb-2"></i>
                </label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <p class="text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </p>
        </form>
    </div>
</div>
