@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<section class="mw-20r mx-auto">
    <form method="post" class="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.Email" />
                <i class="far fa-envelope"></i>
            </label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.Password" />
                <i class="fas fa-lock"></i>
            </label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.ConfirmPassword" />
                <i class="fas fa-lock"></i>
            </label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </form>
</section>