@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Set your password</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<section class="mw-30r mx-auto">
    <form id="set-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.NewPassword" />
                <i class="fas fa-lock"></i>
            </label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <label class="input-wrapper with-icon">
                <input asp-for="Input.ConfirmPassword" />
                <i class="fas fa-lock"></i>
            </label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Set password</button>
        </div>
    </form>
</section>